{% extends "base.html" %}

{% block content %}

  <ul class="nav nav-tabs">
    <li role="presentation"><a href="#tab1" >General</a></li>
    <li role="presentation"><a href="#tab2">Asignaturas</a></li>
    <li role="presentation"><a href="#tab3">Resultados</a></li>
    <li role="presentation"><a href="#tab4">Comentarios</a></li>
  </ul>

  <!-- TAB 1 --> 
  <div id="tab1">
    <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">{{info_general.nombre_titulacion}}</div>
      <div class="panel-body">
        <h4>Universidad:</h4>
        <p>{{ info_universidad.universidad }}</p>
        <hr class="m-y-2">
        <h4>Campus:</h4>  
        <p>{{ info_universidad.campus }}</p>
        <hr class="m-y-2">
        <h4>Facultad:</h4>  
        <p>{{ info_universidad.nombre_centro }}</p>
        <hr class="m-y-2"> 
        <h4>Área de conocimiento:</h4>
        <p>{{info_general.categoria}}</p>       
        <hr class="m-y-2">
        <h4>Descripción:</h4>
        <p style=" text-align: justify ">{{info_general.descripcion}}</p>
        <hr class="m-y-2">
        <h4>Nota de corte:</h4>
        <p>{{ info_general.nota_corte }} en {{ info_general.periodo }} de 2015</p>
        <hr class="m-y-2">
        <h4>Número de plazas:</h4>
        <p>{{ info_general.plazas }}</p>
        <hr class="m-y-2">
        <h4>¿Has estudiado esta carrera? Dános tu valoración:</h4>
<!--         { load ratings }
        { ratings rate }   -->
        <hr class="m-y-2">
        <h4>Coméntanos tu experiencia:</h4>
        {% if request.user.is_authenticated %}
        <a href="/proyecto_uni/comment/post?pk={{info_general.codigo_titulacion}}"><i class="fa fa-2x fa-comment" aria-hidden="true"></i></a>
        {% else %}
          <p>Necesitas iniciar sesión para dejar un comentario</p>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- TAB 2 -->
  <div id="tab2">
    <div class="panel panel-primary">
    <!-- Default panel contents -->
      <div class="panel-heading">{{info_general.nombre_titulacion}}</div>
        <div class="panel-body">
        {% if info_asignaturas %}
          <h2 style="color: #337ab7;">Primer curso</h2>

              <table class="table">
              <thead>
                <tr>
                  <th>Asignatura</th>
                  <th>Régimen</th>
                  <th>Cuatrimestre</th>
                  <th>Créditos</th>
                  {% if mencion == True %}
                  <th>Mención</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                  {% for foo in info_asignaturas %}
                  {% if foo.curso ==  1 %}
                  <tr>
                  <td>{{foo.nombre_asignatura}}</td>
                  <td>{{foo.regimen}}</td>
                  <td>{{foo.cuatrimestre}}</td>
                  <td>{{foo.creditos}}</td>
                  {% if mencion == True and foo.mencion != "null"%}
                  <td>{{foo.mencion}}</td>
                  {% elif mencion == True%}
                  <td>Común</td>
                  {% endif %}
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>

            
          <hr class="m-y-2">
          <h2 style="color:#337ab7;">Segundo Curso</h2>
          <table class="table">
              <thead>
                <tr>
                  <th>Asignatura</th>
                  <th>Régimen</th>
                  <th>Cuatrimestre</th>
                  <th>Créditos</th>
                </tr>
              </thead>
              <tbody>
                  {% for foo in info_asignaturas %}
                  {% if foo.curso ==  2 %}
                  <tr>
                  <td>{{foo.nombre_asignatura}}</td>
                  <td>{{foo.regimen}}</td>
                  <td>{{foo.cuatrimestre}}</td>
                  <td>{{foo.creditos}}</td>
                  {% if mencion == True and foo.mencion != "null" %}
                  <td>{{foo.mencion}}</td>
                  {% elif mencion == True%}
                  <td>Común</td>
                  {% endif %}
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
          <hr class="m-y-2">
          <h2 style="color:#337ab7;">Tercer curso</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Asignatura</th>
                  <th>Régimen</th>
                  <th>Cuatrimestre</th>
                  <th>Créditos</th>
                </tr>
              </thead>
              <tbody>
                  {% for foo in info_asignaturas %}
                  {% if foo.curso ==  3 %}
                  <tr>
                  <td>{{foo.nombre_asignatura}}</td>
                  <td>{{foo.regimen}}</td>
                  <td>{{foo.cuatrimestre}}</td>
                  <td>{{foo.creditos}}</td>
                  {% if mencion == True and foo.mencion != "null" %}
                  <td>{{foo.mencion }}</td>
                  {%  elif mencion == True %}
                  <td>Común</td>
                  {% endif %}
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>    
          <hr class="m-y-2">
          <h2 style= "color:#337ab7;">Cuarto curso</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Asignatura</th>
                  <th>Régimen</th>
                  <th>Cuatrimestre</th>
                  <th>Créditos</th>
                </tr>
              </thead>
              <tbody>
                  {% for foo in info_asignaturas %}
                  {% if foo.curso ==  4 %}
                  <tr>
                  <td>{{foo.nombre_asignatura}}</td>
                  <td>{{foo.regimen}}</td>
                  <td>{{foo.cuatrimestre}}</td>
                  <td>{{foo.creditos}}</td>
                  {% if mencion == True and foo.mencion != "null"%}
                  <td>{{foo.mencion}}</td>
                  {%  elif mencion == True %}
                  <td>Común</td>
                  {% endif %}
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table> 

      {% else %}
        <p>No hay asignaturas registradas para esta titulación</p>
      {% endif %}
    </div>
  </div>
</div>

  <!-- TAB 3 -->
  <div id="tab3">
    {% load l10n %}
    {% load mathfilters %}
    <div class="panel panel-primary">
      <div class="panel-heading">{{info_general.nombre_titulacion}}</div>
        <div class="panel-body">
        <h4>Media de los indicadores académicos para el estudio:</h4>
        {% if info_resultados_academicos == None %}
          <p>No hay resultados registrados para esta titulación</p>
        {% else %}
          <ul class="list-unstyled" >
            <li >
              <h4><span class="label label-success">Aprobados: {{info_resultados_academicos.rendimiento|unlocalize}}%</span></h4>
            </li>
            <br>
            <li >
              <h4><span class="label label-danger">Suspensos: {{ info_resultados_academicos.evaluacion|sub:info_resultados_academicos.rendimiento|unlocalize }}%</span></h4>
            </li>
            <br>
            <li >
              <h4><span class="label label-warning">No presentados: {{ 100|sub:info_resultados_academicos.evaluacion|unlocalize }}%</span></h4>
            </li>
          </ul>
           <hr>                
          <div class="progress left">
            <div class="progress-bar progress-bar-success" style="width: {{info_resultados_academicos.rendimiento|unlocalize}}%"></div>
            <div class="progress-bar progress-bar-danger" style="width: {{ info_resultados_academicos.evaluacion|sub:info_resultados_academicos.rendimiento|unlocalize }}%"></div>
            <div class="progress-bar progress-bar-warning" style="width: {{ 100|sub:info_resultados_academicos.evaluacion|unlocalize }}%"></div>
          </div>

        {% endif %}
        <hr class="m-y-2">
        <h4>Tasa de abandono: </h4>
        {% if info_resultados_academicos == None %}
          <p>No hay resultados registrados para esta titulación</p>
        {% else %}
          <p>{{info_resultados_academicos.abandono}}%</p>
        {% endif %}
        <hr class="m-y-2">
        <h4>Media de la satisfacción global de los estudiantes con el estudio, según las encuestas de evaluación docente: </h4>
        {% if info_resultados_encuestas == None %}
          <p>No hay resultados registrados para esta titulación</p>
        {% elif info_universidad.universidad == "UDC" %}
          <p>{{ info_resultados_encuestas.grao_satisfaccion|mul:5|div:7|floatformat:3 }} sobre 5</p>
        {% else %}
          <p>{{ info_resultados_encuestas.grao_satisfaccion }} sobre 5</p>
        {% endif %}
        <hr class="m-y-2">
        <h4>Media de la satisfacción global de los estudiantes con el estudio, según la puntuación en esta herramienta: </h4>
        <p id="avg"></p>

        <script type="text/javascript">
          var avg_rate = localStorage.getItem('avg'); 
          if (avg_rate > 0) {
            document.getElementById("avg").innerHTML = avg_rate + ' sobre 5'; 
          }
          else {
            document.getElementById("avg").innerHTML = 'No hay resultados registrados para esta titulación'; 
          }
        </script>
        
      </div>
    </div>
  </div>

  <div id="tab4">
    <div class="panel panel-primary">
      <div class="panel-heading">{{info_general.nombre_titulacion}}</div>
        <div class="panel-body">
        {% if comments.count > 0 %}
          <ul class="list-group">
          {% for comment in comments%}    
            <h4>Comentario de {{ comment.nombre_usuario }}:</h4>
            <p>{{ comment.comentario }}</p>
            {% if comment.nombre_usuario == request.user.username %}
            <div class="btn-group" role="group">
              <a href="/proyecto_uni/comment/edit?pk={{ info_general.codigo_titulacion }}">
                <i class=" btn fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
              </a>
              <a href="/proyecto_uni/comment/delete?pk={{ info_general.codigo_titulacion }}">
                <i class=" btn fa fa-eraser fa-2x" aria-hidden="true"></i>
              </a>
            </div>
            {% endif %}
          {% endfor %}
          </ul>
          {% else %}
            <p> Aún no hay comentarios para este estudio</p>
          {% endif %}
        </div>
      </div> 
    </div>
  </div>
  
{% endblock%}

{% block script%}
     <script>
      $(document).ready(function(){
        $('ul.nav-tabs').each(function(){
          var $active, $content, $links = $(this).find('a'); 
          $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
          $active.parent().addClass('active');

          $content = $($active[0].hash);

          $links.not($active).each(function () {
            $(this.hash).hide();
          });

          $(this).on('click', 'a', function(e){
            $active.parent().removeClass('active');
            $content.hide();

            $active = $(this);
            $content = $(this.hash);

            $active.parent().addClass('active');
            $content.show();

            e.preventDefault();
          });
        });
      });
    </script>

{% endblock %}
