{% extends "base.html" %}
{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/proyecto_uni/details_main">General</a></li>
  <li role="presentation"><a href="#">Asignaturas</a></li>
  <li role="presentation"><a href="#">Resultados</a></li>
</ul>


<div class="panel panel-primary">
  <!-- Default panel contents -->
  {% for foo in result %}
  <div class="panel-heading">{{foo.nombre}}</div>
  <div class="panel-body">
  	<h4>Universidad:</h4>
    <p>{{ foo.universidad }}</p>
	<hr class="m-y-2">
	<h4>Campus:</h4>  
	<p>{{ foo.campus }}</p>
	<hr class="m-y-2">
	<h4>Descripción:</h4>
	<p>Aquí debería ir la descripción</p>
	<hr class="m-y-2">
	<h4>Nota de corte:</h4>
	<p>{{ foo.nota_corte }}</p>
  {% endfor %}
  </div>

{% endblock %}