{% extends "base.html" %}

{% block sidebar %}
  				<li>
                    <a href="#">¿Qué estudiar?</a>
                </li>
                <li>
                    <a href="#">Comparador</a>
                </li>
                <li>
                    <a href="#">Contacto</a>
                </li>
                <li>
                    <a href="#">Acerca de nosotros</a>
                </li>       
{% endblock %}

{% block content %}
<div class="jumbotron container" align="center" >
  <h1>Bienvenido a Proyecto Uni!</h1>
  <p>En esta página encontrarás información sobre las carreras del Sistema Universitario Gallego, así como otras herramientas que te ayudarán a la hora de decidir qué carrera escoger. </p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Vamos allá!</a></p>
</div>
{% endblock %}