{% extends "base.html" %} 
{% block content %}
{% load static %}
<div class="row">
  	<div class="col-lg-3">
	  	<div class="jumbotron container-fluid"  align="center" >
	  		<img class="img-responsive" style="height:100px;" src="{% static "images/udc.png" %}" alt="UDC"> 
	  		<hr class="m-y-2">
	  		<p><a class="btn btn-primary btn-lg" href="studies/?uni=UDC" role="button">Mostrar más</a></p>
	  	</div>
  	</div>
	  <div class="col-lg-3">
	  	<div class= "jumbotron container-fluid" align="center" >
	  		<img class="img-responsive" style="height:100px" src="{% static "images/usc.jpg" %}" alt="USC">
	  		<hr class="m-y-2">
	  		<p><a class="btn btn-primary btn-lg" href="studies/?uni=USC" role="button">Mostrar más</a></p>
	  	</div>
	</div>
	 <div class="col-lg-3">
	  	<div class="jumbotron container-fluid" align="center" >
	  		<img class="img-responsive" style="height:100px;" src="{% static "images/uvigo.png" %}" alt="Uvigo">
	  		<hr class="m-y-2">
	  		<p><a class="btn btn-primary btn-lg" href="studies/?uni=Uvigo" role="button">Mostrar más</a></p>
	  	</div>  
	</div>
	<div class="col-lg-3">
		<div class="jumbotron container-fluid" align="center" >
			<img class="img-responsive" style="height:100px;" src="{% static "images/sug.png" %}" alt="SUG">
			<hr class="m-y-2">
	  		<p><a class="btn btn-primary btn-lg" href="studies/?uni=SUG" role="button">Mostrar más</a></p>
	  	</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="jumbotron" align="center" >
	  		<p><a class="btn btn-primary btn-lg" href="/proyecto_uni/search" role="button">Búsqueda avanzada</a></p>
	  	</div>  
	</div>
</div>
{% endblock %}