{% extends "base.html" %} 
{% block content %}
<div class="row">
  	<div class="col-md-3">
	  	<div class="jumbotron" align="center" >
	  		<h1>UDC</h1>
	  		<hr class="m-y-2">
	  		<p><a class="btn btn-primary btn-lg" href="studies/?uni=UDC" role="button">Mostrar más</a></p>
	  	</div>
  	</div>
	  <div class="col-md-3">
	  	<div class= "jumbotron" align="center" >
	  		<h1>USC</h1>
	  		<hr class="m-y-2">
	  		<p><a class="btn btn-primary btn-lg" href="studies/?uni=USC" role="button">Mostrar más</a></p>
	  	</div>
	</div>
	 <div class="col-md-3">
	  	<div class="jumbotron" align="center" >
	  		<h1>UVigo</h1>
	  		<hr class="m-y-2">
	  		<p><a class="btn btn-primary btn-lg" href="studies/?uni=Uvi" role="button">Mostrar más</a></p>
	  	</div>  
	</div>
	<div class="col-md-3">
		<div class="jumbotron" align="center" >
			<h1>SUG</h1>
			<hr class="m-y-2">
	  		<p><a class="btn btn-primary btn-lg" href="#" role="button">Mostrar más</a></p>
	  	</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="jumbotron" align="center" >
	  		<p><a class="btn btn-primary btn-lg" href="#" role="button">Búsqueda avanzada</a></p>
	  	</div>  
	</div>
</div>
{% endblock %}