{% load staticfiles %}
{% load static %}
<! DOCTYPE html> 
<html> 
<head>
    <title>Proyecto Uni</title>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static "font-awesome/css/font-awesome.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/css/sidebar-left.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/css/simple-sidebar.css" %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'><link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    
</head>
<header>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
            {% if request.user.is_authenticated %}
            <button type="button" class="btn btn-default navbar-btn pull-right" onclick="location.href='/proyecto_uni/logout'">Log Out</button>
            <p class="navbar-text pull-right">Sesión iniciada como {{ request.user.get_username }}</p>
            {% else %}
            <button type="button" class="btn btn-default navbar-btn pull-right" onclick="location.href='/proyecto_uni/signup'">Crear usuario</button>
            <button type="button" class="btn btn-default navbar-btn pull-right" onClick="location.href='/proyecto_uni/login'">Iniciar sesión</button>
            {% endif %}
	    		        
	    </div>
	  </div>
	</nav>
</header>
<body>
    <div id="wrapper">
            <div class="sidebar-left">

                <a class="company-logo" href="/proyecto_uni/">TFG</a>

                <div class="sidebar-links">
                    <a class="link-blue" href="/proyecto_uni/studies"><i class="fa fa-book"></i>¿Qué estudiar?</a>
                    <a class="link-red" href="/proyecto_uni/compare"><i class="fa fa-bar-chart"></i>Comparador</a>
                    <a class="link-yellow" href="/proyecto_uni/contact"><i class="fa fa-mobile"></i>Contacto</a>
                    <a class="link-green" href="/proyecto_uni/about"><i class="fa fa-users"></i>Acerca de</a>
                </div>

            </div>
       <!-- <div class="container"> -->
       <div id="page-content-wrapper">          
            <div id="content">
                {% include "proyecto_uni/messages.html"%}
            	{% block content %}
            	{% endblock %}
        	</div>
        </div>
        <!-- </div>  --> 
    </div>
     

	<!-- jQuery -->
    <script src="{% static "bootstrap/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>


    <!-- Menu Toggle Script -->


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

        $(function () {

            var links = $('.sidebar-links > a');

            links.on('click', function () {

                links.removeClass('selected');
                $(this).addClass('selected');

            })
        });
    </script>
{% block script %}
{% endblock %}
</body>
</html>
