{% load staticfiles %}
<! DOCTYPE html> 
<html> 
<head>

<title>Proyecto Uni</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
<link href="{% static "bootstrap/css/simple-sidebar.css" %}" rel="stylesheet">
</head>
<header>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
            {% if request.user.is_authenticated %}
            <button type="button" class="btn btn-default navbar-btn pull-right" onclick="location.href='logout'">Log Out</button>
            <p class="navbar-text pull-right">Sesión iniciada como {{ request.user.get_username }}</p>
            {% else %}
            <button type="button" class="btn btn-default navbar-btn pull-right" onclick="location.href='signup'">Crear usuario</button>
            <button type="button" class="btn btn-default navbar-btn pull-right" onClick="location.href='login'">Iniciar sesión</button>
            {% endif %}
	    	

	      <a class="navbar-brand" href="/proyecto_uni">
	        <img alt="Brand" src="{% static "images/fic.png" %}" width=5%>
	        
	      </a>
	    </div>
	  </div>
	</nav>
</header>
<body>
	    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
        	<ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#menu-hide" id="menu-hide">
                       Proyecto Uni
                    </a>
                </li>
               {% block sidebar %}
        	{% endblock %}
            </ul>
        	
        </div>

    <div id="page-content-wrapper">
    	<div id="hide">
    		<a href="#menu-show" class="btn btn-default" id="menu-show" >Mostrar Menú</a>
    	</div>
         <div id="content">
        {% include "proyecto_uni/messages.html"%}
		{% block content %}
		{% endblock %}
		</div>
		
    </div>    

	<!-- jQuery -->
    <script src="{% static "bootstrap/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-hide").click(function(e) {
        e.preventDefault();
        $("#wrapper").addClass("toggled");
        $('#hide').css("display", "inline");
    });
    </script>

    <script>
    $("#menu-show").click(function(e) {
        e.preventDefault();
        $("#wrapper").removeClass("toggled");
        $('#hide').css("display", "none");
    });
    </script>

</script>
</body>
</html>
